/* Header.css */

.header {
  background-color: #1ABC9C;
  color: white;
  display: flex;
  justify-content: space-between;  /* 좌우로 배치 */
  align-items: center;  /* 수직 가운데 정렬 */
  padding: 20px;
  height: 80px;
  flex-shrink: 0; /* prevent shrinking */
}

.header h1 {
  margin-left: 20px;  /* 왼쪽 여백 추가 */
  font-size: 24px;
}

.menu-icon {
  width: 40px;  /* 이미지 크기 조정 */
  height: 40px;
  margin-right: 20px;  /* 오른쪽 여백 추가 */
}
