/* styles/index.css */

/* 모든 요소의 기본 마진과 패딩을 제거 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* 전체 페이지 스타일 설정 */
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    height: 100%;
    margin: 0;
  }
  
  html, body {
    height: 100%;
  }
  
  /* 앱을 전체 화면으로 펼치는 설정 */
  #root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  